<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colors portal - Static assets</title>
    <!-- import style css-->
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>

  <body>
    <div id="app">
      <div>
        <div class="dark-light" @click="changeDarkmode()">
          <svg
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="1.5"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
          </svg>
        </div>
        <div class="app">
          <div class="header">
            <div class="menu-circle"></div>
            <div class="header-menu">
              <a class="menu-link is-active" href="#">Colors portal</a>
              <a class="menu-link" href="#">Another portal of my team</a>
            </div>
            <div class="header-profile">
              <img
                class="profile-img"
                src="http://www.nye.hu/eselyegyenloseg/sites/www.nye.hu.eselyegyenloseg/files/city_magazine_logo.png"
                alt=""
              />
            </div>
          </div>
          <div class="wrapper">
            <div class="left-side">
              <div class="side-wrapper">
                <div class="side-title">Colors</div>

              </div>
              <div class="side-wrapper">
                <div class="side-menu">
                  
                  <a
                    href="#"
                    v-for="color in colors"
                    :key="color.id"
                    @click="selectColor(color)"
                  >
                        <div class="colorcontainer" >
                            <div class="circle" :class="selectedColor.id == color.id ? 'selected':''" :style="'background:' + color.name"></div>
                        </div>
                    </svg>
                  </a>
                
                </div>
              </div>
              
            </div>
            <div class="main-container">
            
              <div class="content-wrapper">
                  
                <div class="content-section" v-if="selectedColor.id != null" style="margin-top:0">
                   <h2 style="margin:0" :style="'text-shadow:0 0 10px black;color: '+selectedColor.name">{{selectedColor.name}}</h2>
                  <div class="content-section-title">color properties</div>
                  <div class="apps-card" >
                    <div class="app-card" v-for="i in [1,2,3]">
                      <span>
                        Box title
                      </span>
                      <div class="app-card__subtext" style="text-align:left">
                        Ide kerül bármiféle extra infó
                      </div>
                      <div class="app-card-buttons">
                        <button class="content-button status-button" :style="'background: '+selectedColor.name">
                          Részletek
                        </button>
                        <div class="menu"></div>
                      </div>
                    </div>
                  </div>
                  <br><br>
                  <div class="apps-card" >
                    <div class="app-card" v-for="i in [1,2,3]">
                      <span>
                        Box title
                      </span>
                      <div class="app-card__subtext" style="text-align:left">
                        Ide kerül bármiféle extra infó
                      </div>
                      <div class="app-card-buttons">
                        <button class="content-button status-button" :style="'background: '+selectedColor.name">
                          Részletek
                        </button>
                        <div class="menu"></div>
                      </div>
                    </div>
                  </div>
                  <br><br>
                  <div class="apps-card" >
                    <div class="app-card" v-for="i in [1,2,3]">
                      <span>
                        Box title
                      </span>
                      <div class="app-card__subtext" style="text-align:left">
                        Ide kerül bármiféle extra infó
                      </div>
                      <div class="app-card-buttons">
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div style="text-align:left">
                    <h2> <----- Chose a color on the left side</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay-app"></div>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
